{% load static %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]><html lang="fr-FR" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="fr-FR" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="fr-FR" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="fr-FR" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="fr-FR" class="no-js">
<!--<![endif]-->

<head>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="alternate" type="application/rss+xml" title="Flux des actualités du Projet MARIGO" href="RSS/actualites.rss" />
    <title> Les differents acteurs</title>
    <link rel="shortcut icon" href="{% static 'img/log1.ico' %}" type="image/x-icon">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/newcss/general.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/newcss/print.css' %}" media="print" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/newcss/font-awesome.min.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'css//newcss/mmenu.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/newcss/tiny-slider.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}">
    <style>
      #connect
      {
        float: right;
        padding: 2vmin;
      }
    </style>
</head>


<body data-node="4347" data-langue="fr-FR" data-classe="crd_page" data-nodeid="4347" class="crd_page mep_standard not_connected" data-path="/1/2/105/4343/4347/" itemscope itemtype="http://schema.org/WebPage">

    <!-- START blocs/accessiblite.tpl -->
    <ul id="menu_accessibilite">
        <li><a href="#contenu">Aller au contenu de la page</a></li>
        <li><a href="#sitenav">Aller au menu de navigation</a></li>
        <li><a href="#basdepage">Aller au bas de page</a></li>
    </ul>
    <!-- END blocs/accessiblite.tpl -->

<div id="container" class="container-fluid">
    <header class="row"> 
        <!-- BEGIN blocs/bloc_titresite.tpl -->
        <div id="titre_site"> 
          <div class="hgroup" title="Projet MARIGO">
            <h1><a href="/">Projet MARIGO</a></h1>
            <h2><a href="/">Culture du riz périurbain au Cameroun</a></h2>
          </div>
      
          <div id="logo">
            <a href="../" style="text-decoration: none;">
              <img src="{% static 'img/logo.jpg'%}" alt="" style="width: 15rem;">
            </a>
            <span class="TitleSite">
              Plateforme Multi-Acteurs de la Chaîne de Valeur riz au Cameroun
            </span>
          </div>
        </div>
        <!-- END blocs/bloc_titresite.tpl -->
    
        <div >
          <span id="connect">  
            <a href="/inscription" title="Connexion/Inscription" style="text-decoration: none; margin-left: 2rem;">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
              </svg>
              <span style="font-size: 18px;">Connexion/Inscription</span>
            </a>
          </span>
        </div>
        <p class="menu hidden-md hidden-lg">
            <a class="btnMenu" href="#menuArborescenceMobile"></a>
                <span>MENU</span>
        </p>
    </header>

    <nav id="menuRubriques" class="hidden-xs hidden-sm">
        <ul class="sf-menu menudepth_1 mon" >          
          <li class="pos_4">
            <a title="Accueil" href="../">
              <span class="lig1">ACCUEIL</span>
            </a>
            <ul class="menudepth_2">
              <li>
                <a href="../#descriptif"><span class="lig1">Descriptif du Projet</span></a>
              </li>
            </ul>
          </li>
          
          <li class="pos_2 courant">
            <a href="">
              <span class="lig1">ACTEURS</span>
            </a>
  
            <ul class="menudepth_3">
              <li>
                <a href="institutionnel/"><span class="lig1">acteur institutionnel</span></a>
                <ul class="menudepth_2" style="background-color: #2d5140;">
                  <li><a href="#depMin"><span class="lig1">Departements ministériels</span></a></li>
                  <li><a href="#sstpg"><span class="lig1">Sociétés sous-tutelle & les projets programmes</span></a></li>
                  <li><a href="#ptf"><span class="lig1">Partenaires techniques & financiers (PTF)</span></a></li>
                  <li><a href="#snra"><span class="lig1">Système nationale de recherche agricole</span></a></li>
                </ul>
              </li>
  
              <li>
                <a href="direct/"><span class="lig1">acteur direct</span></a>
                <ul class="menudepth_2" style="background-color: #2d5140;">
                  <li><a href="direct/#producteur"><span class="lig1">Producteurs</span></a></li>
                  <li><a href="direct/#transformateur"><span class="lig1">Transformateurs</span></a></li>
                  <li><a href="direct/#distributeur"><span class="lig1">Distributeurs</span></a></li>
                  <li><a href="direct/#consommateur"><span class="lig1">consommateurs</span></a></li>
                </ul>    
              </li>
  
              <li> 
                <a href="indirect/">
                  <span class="lig1">acteur indirect</span>
                </a>
                <ul class="menudepth_2" style="background-color: #2d5140;">
                  <li><a href="indirect/#presta"><span class="lig1">Prestataires des services de labour</span></a></li>
                  <li><a href="indirect/#etab"><span class="lig1">Etablissements financiers & banques</span></a></li>
                </ul>          
              </li>
            </ul>
          </li>
                       
          <li class="pos_3">
            <a title="Les échanges" href="/chat/chat">
              <span class="lig1">ECHANGE</span>
            </a>
            
            <ul class="menudepth_2">
              <li>
                <a href="/chat/chat">
                  <span class="lig1">Forum</span>
                </a>
              </li>
              
              <li>
                <a href="/conference">
                  <span class="lig1">Video</span>
                </a>
              </li>
  
            </ul>
          </li>
                        
          <li class="pos_4">
            <a title="Le Système d'Informations sur le Riz" href="/general">
              <span class="lig1">S. I. R </span>
            </a>
              
            <ul class="menudepth_2">
              <li>
                <a href="/general">
                  <span class="lig1">Informations Générales</span>
                </a>
              </li>
  
              <li>
                <a href="/general">
                  <span class="lig1">Informations Commerciales</span>
                </a>
              </li>
  
              <li>
                <a href="/general">
                  <span class="lig1">Informations Techniques</span>
                </a>
              </li>
  
            </ul>
          </li>
                                      
          <li class="pos_5 pos_last">
            <a title="La médiathèque" href="/mediatheque">
              <span class="lig1"> médiathèque</span>
            </a>

          </li>
  
          <li class="pos_5 pos_last">
            <a title="La Bibliotheque" href="/bibliotheque"><span class="lig1"> Bibliotheque</span></a>          
            <ul class="menudepth_2">
              <li>
                <a href="/bibliotheque"><span class="lig1">Livre techniques</span></a>
              </li>
             </ul>
          </li>
  
          <li>
            <a href="/hand" >Hand in Hand</a>
          </li>
  
        </ul>
    </nav>

    <nav id="menuArborescenceMobile" class="masqueMenu">
        <ul class="menu menudepth_1">                          
          <li class="pos_1">
            <a title="Le projet" href="/le-projet">
              <span class="lig1">Le projet</span>
            </a>
               
            <ul class="menudepth_2">
              <li>
                <a href="/le-projet/descriptif-du-projet"><span class="lig1">Descriptif du Projet</span></a>
              </li>
            </ul>
          </li>
                      
          <li class="pos_2">
            <a title="Les partenaires et le bailleur" href="/les-partenaires-et-le-bailleur">
              <span class="lig1">Les partenaires et le bailleur</span>
            </a>
              
            <ul class="menudepth_2">
              <li>
                <a href="#">
                  <span class="lig1">Institution publique</span>
                </a>
              </li>
  
              <li>
                <a href="#">
                  <span class="lig1">Institution privée</span>
                </a>
              </li>
  
              <li>
                <a href="#">
                  <span class="lig1">Oragnisation paysannes</span>
                </a>
              </li>
  
              <li>
                <a href="#">
                  <span class="lig1">Particuliers</span>
                </a>
              </li>
            </ul>
          </li>
                        
          <li class="pos_3">
            <a title="Les activités" href="/les-activites">
              <span class="lig1">Les activités</span>
            </a>
             
            <ul class="menudepth_2">
              <li>
                <a href="/les-activites/plateforme-multi-acteurs"><span class="lig1">Plateforme multi-acteurs</span></a>
              </li>
  
              <li>
                <a href="/inscription"><span class="lig1">Diagnostic et évaluation</span></a>
              </li>
  
              <li>
                <a href="/les-activites/sante-des-sols"><span class="lig1">Santé des sols</span></a>
              </li>
  
              <li>
                <a href="/les-activites/sante-des-plantes"><span class="lig1">Santé des plantes</span></a>
              </li>
  
              <li>
                <a href="/les-activites/conservation-transformation-qualite"><span class="lig1">Conservation, transformation, qualité</span></a>
              </li>
  
              <li>
                <a href="/les-activites/formation-et-diffusion"><span class="lig1">Formation et diffusion</span></a>
              </li>
  
            </ul>
          </li>
                       
          <li class="pos_4">
            <a title="La communication du projet" href="/la-communication-du-projet"><span class="lig1">La communication du projet</span></a>
            <ul class="menudepth_2">
              <li>
                <a href="/la-communication-du-projet/rapports"><span class="lig1">Rapports</span></a>
              </li>
              
              <li>
                <a href="/la-communication-du-projet/actualites"><span class="lig1">Actualités</span></a>
              </li>
  
              <li>
                <a href="/la-communication-du-projet/support-de-communication"><span class="lig1">Support de communication</span></a>
              </li>
            </ul>
          </li>
                                                     
          <li class="pos_5 pos_last">
            <a title="La médiathèque" href="/mediatheque"><span class="lig1">La médiathèque</span></a>                 
            <ul class="menudepth_2">
              <li>
                <a href=""><span class="lig1">Photos - WP1 plateforme multi-acteurs</span></a>
              </li>
  
              <li>
                <a href=""><span class="lig1">Photos - WP2 Diagnostic et évaluation</span></a>
              </li>
            </ul>
          </li>
        </ul>
    </nav>

    <nav id="menuAriane" class="row hidden-xs">
        <p id="nav_ariane" class="breadcrumbs" itemprop="breadcrumb">
            <span class="libelle">
                Vous êtes ici&nbsp;:
            </span>

            <span class="bc1">       
              <a href="../" title="Home">
                  <span class="home">
                      <span class="lig1">Home</span>
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                  </svg>
              </a>
            </span>

            <span class="path-separator">
                <span class="separator">
                    &gt;
                </span>
            </span>        

            <span class="bc2">
                  <a href="#"><span class="lig1">Acteurs </span></a>
            </span>

        </p>
        <!-- END blocs/menu_ariane.tpl -->
    </nav>

    <div id="main">
        <div class="row">
            <nav id="menuArborescence" class="col-xs-12 col-sm-2 hidden-xs hidden-sm">
                <ul class="menudepth_1">                                                           
                    <li class="courant">
                        <a href=""><span class="lig1">Accueil</span></a> 
                        <ul class="menudepth_2">
                            <li class="courant">
                                <a href="institutionnel/"><span class="lig1">Acteur institutionnel</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="courant">
                        <a href="#"><span class="lig1">Accueil</span></a> 
                        <ul class="menudepth_2">
                            <li class="">
                                <a href="direct/"><span class="lig1">Acteur direct</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="courant">
                        <a href="#"><span class="lig1">Accueil</span></a> 
                        <ul class="menudepth_2">
                            <li class="">
                                <a href="indirect/"><span class="lig1">Acteur indirect</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <article id="contenu" class="col-xs-12 col-sm-9 col-md-7">  
                <h1 class="attr_name">
                    <span class="lig1">ACTEURS</span>  
                </h1>
                <!-- BEGIN blocs/bloc_module.tpl -->

                <div  class="crd_page full">
                    <div class="attr_accroche">
                        <span class="lig1">
                          Les membres de la PFMA qui interviennent dans la chaine de valeur riz ?
                          Le développement de la filière riziculture au Cameroun est encadré par trois grands types d’acteurs : les acteurs institutionnels, les acteurs directs et les acteurs indirects.                        
                        </span>  
                    </div>
                    <br><br><br>

                    <h3 class="attr_name" style="color : rgba(40,40,40,0.6)">
                      <span id="institutionnel">ACTEURS INSTITUTIONNELS</span>  
                    </h3>

                    <div class="attr_texte">
                      <p class="p_1" id="depMin">Départements ministériels</p>
                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/minader.png" width="100" height="41"   style="border: 0px  ;" alt="Logo Minader" title="Logo Minader"   />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://www.minader.cm" title="Lien vers https://www.minader.cm">
                          <span><b>MINADER (Ministère en charge de l’agriculture et du développement rural)</b></span>
                        </a><br />
                        Responsable des programmes gouvernementaux en matière d’agriculture.
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/minepat_Logo.png" width="100" height="41"   style="border: 0px  ;" alt="Logo Minepat" title="Logo Minepat"   />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://minepat.gov.cm/fr/accueil/" title="Lien vers https://minepat.gov.cm/fr/accueil/">
                          <span><b>MINEPAT (Ministère en charge de l’économie)</b></span>
                        </a><br />
                        Responsable de la réalisation des grands aménagements hydro agricoles au titre de l’aménagement du territoire.
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/mincommerce.png" width="87" height="38"   style="border: 0px  ;" alt="Logo Mincommerce" title="Logo Mincommerce"   />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://www.mincommerce.gov.cm/fr" title="Lien vers https://www.mincommerce.gov.cm/fr">
                          <span><b>MINCOMMERCE (Ministère en charge du commerce)</b></span>
                        </a><br />
                        Responsable de la politique commerciale (taxes et droits de douane etc.)
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/mincaf.png" width="95" height="41"   style="border: 0px  ;" alt="Logo Mindcaf" title="Logo Mindcaf"   />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://tresorpublic.cm/fr/ministries/mindcaf" title="Lien vers https://tresorpublic.cm/fr/ministries/mindcaf">
                          <span><b>MINDCAF (Ministère des domaines et des affaires foncières)</b></span>
                        </a><br />
                        Responsable de la politique de gestion des terres.
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/minefi_Logo.png" width="82" height="41"   style="border: 0px  ;" alt="Logo Minfi" title="Logo Minfi" />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://minfi.gov.cm/en/home/" title="Lien vers https://minfi.gov.cm/en/home/">
                          <span><b>MINFI (Ministère en charge des finances )</b></span>
                        </a><br />
                        Responsable à travers la politique fiscale et douanière, des incitations susceptibles d’intéresser le secteur privé dans l’activité rizicole.
                      </p><br><br><hr>

                    </div>

                    <div class="attr_texte">
                      <p class="p_1" id="sstpg">Sociétés sous-tutelle & les projets programmes</p>
                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/semry.jpeg" width="100" height="41"   style="border: 0px  ;" alt="Logo Semry" title="Logo Semry"   />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://semry-online.com/" title="Lien vers https://semry-online.com/">
                          <span><b>SEMRY (Modernisation de la Riziculture de YAGOUA)</b></span>
                        </a><br />
                        Dans la Région de l’Extrême-Nord dont le potentiel de 23 000 ha aménagés et cultivable en double culture n’est valorisé qu’à hauteur de 10 000 ha avec des rendements de l’ordre de 5t/ha de paddy
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <!-- <div class="attr_image">                                                    
                            <img src="" width="100" height="41"   style="border: 0px  ;" alt="Logo UNVDA" title="Logo UNVDA"   />
                          </div> -->
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="" title="Lien vers ">
                          <span><b>UNVDA (la Upper Nun Valley Development Authority )</b></span>
                        </a><br />
                        Dans la Région du Nord-Ouest, et sur un potentiel de l’ordre de 15 000 ha, met annuellement en culture 3000 ha avec des rendements de l’ordre de 4t/ha.
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <!-- <div class="attr_image">                                                    
                            <img src="../img/mincommerce.png" width="87" height="38"   style="border: 0px  ;" alt="Logo Mincommerce" title="Logo Mincommerce"   />
                          </div> -->
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="" title="Lien vers ">
                          <span><b>FPRIA-C ( la Ferme pilote de riziculture irriguée d’Avangane,)</b></span>
                        </a><br />
                        40 ha sous irrigation et les infrastructures de formation se prêtent à une production intensive de semences de riz et au renforcement de capacités des producteurs aux bonnes pratiques rizicoles dans la Région du Centre
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/padfa.jpeg" width="80" height="41"   style="border: 0px  ;" alt="Logo PADFA II" title="Logo PADFA II"   />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://www.ifad.org/fr/web/operations/-/projet/2000001936" title="Lien vers https://www.ifad.org/fr/web/operations/-/projet/2000001936">
                          <span><b>PADFA II (Le Projet d’appui au développement des filières agricoles, Phase II )</b></span>
                        </a><br />
                        Appuie la production semencière, la production du paddy, la transformation et la mise en marché dans les Régions de l’Ouest et du Nord-Ouest
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/proderi.jpeg" width="82" height="41"   style="border: 0px  ;" alt="Logo PRODERIP" title="Logo PRODERIP" />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://www.minader.cm/index.php/2023/02/07/proderip/" title="Lien vers https://www.minader.cm/index.php/2023/02/07/proderip/">
                          <span><b>PRODERIP (le Projet de Développement de la Riziculture Irriguée et Pluviale)</b></span>
                        </a><br />
                        En charge de la purification variétale dans la zone UNVDA, de la formation des formateurs et de la petite mécanisation dans les Régions du Centre, du Sud, de l’Est et du Nord-Ouest.
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="">
                          <span><b>le Projet de développement de la chaine de valeur du riz</b></span>
                        </a><br />
                        En charge de la modernisation dans la Région du Nord-Ouest.
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/viva.jpeg" width="82" height="41"   style="border: 0px  ;" alt="Logo VIVA BENOUE" title="Logo VIVA BENOUE" />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://ecomatin.net/projet-viva-benoue-121-milliards-pour-booster-la-production-agricole-dans-le-septentrion/" title="Lien vers https://ecomatin.net/projet-viva-benoue-121-milliards-pour-booster-la-production-agricole-dans-le-septentrion/">
                          <span><b>Viva Bénoué (le Projet d’aménagement et de valorisation des investissements de la vallée de la Bénoué)</b></span>
                        </a><br />
                        En charge de l’aménagement des périmètres irrigués, de la transformation et de la mise en marché dans la Région du Nord.
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://minepat.gov.cm/fr/2022/01/27/projet-viva-logone-le-plan-daction-de-recasement-disponible/" title="Lien vers https://minepat.gov.cm/fr/2022/01/27/projet-viva-logone-le-plan-daction-de-recasement-disponible/">
                          <span><b>VIVA Logone (le Projet d’Aménagement et de Valorisation des Investissements dans la vallée du Logone)</b></span>
                        </a><br />
                        En charge de l’aménagement des périmètres irrigués, de la transformation et de la mise en marché dans la Région de l’Extrême-Nord.
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/aivdp.jpeg" width="82" height="41"   style="border: 0px  ;" alt="Logo VIVA AIVDP" title="Logo VIVA AIVDP" />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://aivdp.soweda.cm/" title="Lien vers https://aivdp.soweda.cm/">
                          <span><b>AIVDP (Agricultural Infrastructure and Value Chain Development Project of the South West Région)</b></span>
                        </a><br />
                        En charge de l’aménagement des périmètres irrigués, de la transformation et de la mise en marché dans la Région du Sud-Ouest.
                      </p><br><br><hr>

                    </div>

                    <div class="attr_texte">
                      <p class="p_1" id="snra">Le Système National de Recherche Agricole</p>
                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/irad.jpeg" width="100" height="41"   style="border: 0px  ;" alt="Logo IRAD" title="Logo IRAD"   />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://irad.cm/index.php/fr/" title="Lien vers https://irad.cm/index.php/fr/">
                          <span><b>IRAD (L’Institut de Recherche Agricole pour le Développement)</b></span>
                        </a><br />
                        développe des variétés adaptées aux zones agro écologiquesEntretient des relations étroites avec le Centre du riz pour l’Afrique (AFRICARICE) développe des variétés adaptées aux zones agro écologiques.
                      </p><br><br><hr>

                    </div>

                    <div class="attr_texte">
                      <p class="p_1" id="ptf">Les Partenaires Techniques et Financiers (PTF)</p>
                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/fao.png" width="80" height="41"   style="border: 0px  ;" alt="Logo FAO" title="Logo FAO"   />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://www.fao.org/home/fr" title="Lien vers https://www.fao.org/home/fr">
                          <span><b>FAO (l’Organisation des Nations Unies pour l’Alimentation et l’Agriculture)</b></span>
                        </a><br />
                        Porte les projets « Partnership for Sustainable Rice Systems Development in Sub-Saharan Africa  et « Hand in Hand»;
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/fida.png" width="60" height="41"   style="border: 0px  ;" alt="Logo FIDA" title="Logo FIDA"   />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://www.ifad.org/fr/" title="Lien vers https://www.ifad.org/fr/">
                          <span><b>FIDA (le Fonds International de Développement Agricole )</b></span>
                        </a><br />
                        Cofinance le projet PADFA II avec le Gouvernement.
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/bid.png" width="80" height="41"   style="border: 0px  ;" alt="Logo BID" title="Logo BID"   />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://www.isdb.org/fr" title="Lien vers https://www.isdb.org/fr">
                          <span><b>BID (la Banque Islamique de Développement)</b></span>
                        </a><br />
                        Finance l’AIVDP
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/jica.png" width="80" height="41"   style="border: 0px  ;" alt="Logo JICA" title="Logo JICA"   />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://www.jica.go.jp/french/" title="Lien vers https://www.jica.go.jp/french/">
                          <span><b>JICA (l’Agence Japonaise de Coopération Internationale)</b></span>
                        </a><br />
                        Met en œuvre le Project de coopération technique de développement de la Riziculture irriguée et pluviale (PRODERIP)
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    

                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="">
                          <span><b>la coopération Coréenne (Agence Coréenne de Coopération Internationale : KOICA et l’Initiative de Coopération Corée-Afrique en matière d’agriculture : KAFACI)</b></span>
                        </a><br />
                        Aide à mettre en place le projet F-PPRIAC et a financé les essais d’adaptation de plusieurs variétés de riz;
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/bad.jpeg" width="80" height="41"   style="border: 0px  ;" alt="Logo BAD" title="Logo BAD"   />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://www.afdb.org/fr" title="Lien vers https://www.afdb.org/fr">
                          <span><b>BAD (la Banque Africaine de Développement)</b></span>
                        </a><br />
                        le PARPAC dans le financement de l’acquisition des semences de riz, engrais, dispositif d’appui conseil et vulgarisation et mesures de résilience
                      </p><br><br><hr>

                      <div class="object-right">
                        <div  class="crd_image embed">
                          <div class="attr_image">                                                    
                            <img src="../img/bm.jpeg" width="65" height="41"   style="border: 0px  ;" alt="Logo BM" title="Logo BM"   />
                          </div>
                        </div>
                        <!-- class="crd_image embed" -->
                      </div>

                      <p style="font-size: 12px;">
                        <a href="https://www.banquemondiale.org/fr/home" title="Lien vers https://www.banquemondiale.org/fr/home">
                          <span><b>BM (la Banque Mondiale)</b></span>
                        </a><br />
                        Finance les projets VIVA Bénoué et VIVA Logone
                      </p><br><br><hr>

                    </div>

                </div>
                <!-- class="crd_page full" -->

                <!-- END blocs/bloc_module.tpl -->
            </article>

            <aside id="annexes" class="col-xs-12 col-sm-3">
              <div class="attr_image">                                                                                      
                <a href="../img/glob.png" class="lightbox" rel="galerie">
                  <img src="{% static 'img/glob.png' %}" width="263" height="157"   style="border: 0px  ;" alt="Logo partenaires tiers et associés" title="Logo partenaires tiers et associés"   />
                  </a>  
              </div>

              <div id="contact">
                <h2 class="contact">Contact</h2>    
                <div class="attr_contact">
                  <p style="font-size: 15px;">
                    <a href="mailto:pfma@gmail.cm">
                      <blockquote><span>contact@pfma.cm</span></blockquote>
                    </a>
                  </p>
                </div>
              </div>
              <br>
              <div class="px-5">
                <h3 class="text-primary px-5">Liens</h3>
                <br><br> 
                <ul>
                  <li><a style="font-size: 15px;" href="https://www.cairn.info/revue-herodote-2008-4-page-156.htm">https://www.cairn.info/revue-herodote-2008-4-page-156.htm</a> </li> <br>
                  <li><a style="font-size: 15px;" href="https://agritrade.cta.int/fr/Agriculture/Produits-de-base/Riz/Les-tendances-du-secteur-du-riz-en-Afrique-de-l-Ouest.html">https://agritrade.cta.int/fr/Agriculture/Produits-de-base/Riz/Les-tendances-du-secteur-du-riz-en-Afrique-de-l-Ouest.html</a> </li> <br>
                  <li><a style="font-size: 15px;" href="https://www.planetoscope.com/cereales/192-production-de-riz-dans-le-monde.html">https://www.planetoscope.com/cereales/192-production-de-riz-dans-le-monde.html</a> </li> <br>
                  <li><a style="font-size: 15px;" href="https://boowiki.info/template/wiki7_files/latest_003.png">BOOWIKI</a> </li> <br>
                  <li><a style="font-size: 15px;" href="https://boowiki.info/art/le-commerce-international/riz-commerce.html">https://boowiki.info/art/le-commerce-international/riz-commerce.html</a> </li> <br>
                  <li><a style="font-size: 15px;" href="https://agritrade.cta.int/fr/Agriculture/Produits-de-base/Riz">agritrade.cta</a> </li>
                </ul>
              </div>
            </aside>
        </div>
    </div>

</div>

<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
</footer>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js.map' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
    
</body>
</html>